<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

	<style type="text/css">
		* {
	box-shadow: border
}
body {
	font-family: sans-serif;
}

.final-bill h2:first-child{
      font-size: 30px;
}
.final-bill h6,p{
      font-size: 15px;
}
.final-bill .hader-text h2,
.final-bill .hader-text h6,
.final-bill .bill-body h6 {
	font-weight: 600 ;
}
.final-bill .hader-text p {
	font-weight: 600;
	margin-bottom: 0px;
}
.final-bill .border-bottom {
	border-bottom: 2px solid #505355!important;
}
.final-bill .hide-td {
	visibility: hidden;
}
.final-bill .table-bordered td,
.final-bill .table-bordered th {
	border: 2px solid #dee2e6;
        font-size:17px;
}
</style>

<div class="final-bill border-top mt-5 pt-5 pb-5">
		<div class="container">
                    {% for order in orders %}
			<div class="row top-bar border-bottom pb-4">
				<div class="col-md-6">
					<div class="img">
						<img src="https://www.craftslane.com/image/catalog/logo/craftslane-logo.png" class="img-fluid w-50">
					</div>
				</div>
				<div class="col-md-6">

					<div class="hader-text pull-right text-right pt-2">
						<h2>{{ order.store_name }}</h2>
						<h6>{{ order.store_address }}</h6>
						<p>{{ text_telephone }}</b> {{ order.store_telephone }}</p>
						<p>{{ text_website }}</b> <a href="{{ order.store_url }}">{{ order.store_url }}</a></p>
						<p>{{ text_email }}</b> {{ order.store_email }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="bill-body">
						<h6 class="font-weight-bold text-left mt-4">GSTIN: {{ order.store_gstn }}</h6>
					</div>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-md-6">
					<div class="billed-table">
						<h6 class="font-weight-bold">Billed To</h6>
						<table class="table table-bordered font-weight-bold">
							<thead>
								<tr>
									<th>Name</th>
									<th>{{ order.payment_company }}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Address:</td>
									<td>{{ order.payment_address }}</td>
								</tr>
								<tr>
									<td>State:</td>
									<td>{{ order.payment_zone }}</td>
								</tr>
								<tr>
									<td>State Code</td>
									<td>{{ order.payment_zone_id }}</td>
								</tr>
								<tr>
									<td>GSTIN:</td>
									<td>{{ order.payment_gst }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="billed-table-right hader-text text-right">
						<h2 class=" text-muted">TAX INVOICE</h2>
						<p>Invoice No: {{ order.invoice_no }}</p>
						<p>Invoice For: {{ order.invoice_for }}</p>
						<p>Invoice Date: {{ order.invoice_date }}</p>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="billed-table">
						<table class="table table-bordered text-center">
							<thead class="text-right">
								<tr>
									<th class="text-center">S.No.</th>
									<th class="text-center">DESCRIPTION</th>
									<th>UNIT PRICE(Rs.)</th>
									<th>Qty(hr.)</th>
									<th>AMOUNT(Rs.)</th>
								</tr>
							</thead>
							<tbody>
                                                            {% for product in order.product %}
                                                                    <tr>
                                                                            <td>{{ product.s_no }}</td>
									<td>{{ product.name }}
                                                                        {% for option in product.option %}
                                                                        <br />
                                                                        &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
                                                                        {% endfor %}</td>
									<td class="text-right">{{ product.price }}</td>
									<td class="text-right">{{ product.quantity }}</td>
									<td class="text-right">{{ product.total }}</td>
								</tr>
                                                            {% endfor %}
                                                                    <tr class="text-right">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
									<td></td>
                                                                        <td></td>
                                                                    </tr> 
                                                                {% for total in order.total %}
                                                                    <tr class="text-right">
                                                                        <td class="hide-td"></td>
                                                                        <td class="hide-td"></td>
                                                                        <td class="hide-td"></td>
									<td>{{ total.title }}</td>
									<td>{{ total.text }}</td>
                                                                    </tr> 
                                                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="bill-body">
						<p class="text-right mt-2">Total Invoice Value (INR): {{ order.amount_in_words }}</p>
						<p class="text-center mt-5">THANK YOU FOR YOUR BUSINESS!!</p>
					</div>
				</div>
			</div>
                    {% endfor %}
		</div>
	</div>

</body>
</html>

